body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.web {
    width: 1440px;

}

/* HEADER */
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;    
    display: flex;
    align-items: center;
    background-color: var(--base-color);

}

.header .grid__full-width {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-left: 106px;

}

.header__logo img {
    width: 83px;
    height: 69.768px;

}

.header__navbar-1 {
    display: flex;
    align-items: center;
    font-size: 1.8rem; 
    margin-left: 300px;

}

.header__navbar-1 .header__navbar-item {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--text-color); 
}

.header__navbar-2 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 126px;

}

.header__navbar-2 .header__navbar-item {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color);
    text-decoration: none;

}

/* CONTENT */

.content {
    background-color: #E7B559; 
    height: 1850px;
    display: none;
}

.content .grid__full-width,
.content-second .grid__full-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content__form {
    width: 1088px;
    height: 1561px;   
    background-color: var(--base-color);
    margin-top: 120px;
    border-radius: 42px;    

}

/* CONTENT - FORM SIGN UP */
#sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none; 
}

.content__form-logo { 
    margin-top: 56px;

}

.content__form-logo img {
    width: 120px;
    height: 100px;
}

.content__form-title { 
    font-size: 2.8rem;
    
}

.content__form-title h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin-top: 64px;

}

.content__form-title h1 p {
    margin-top: 4px;

}

.content__form input,
.content-second__form input {
    width: 640px;
    height: 87px;
    background-color: var(--base-color);
    border: 1px solid var(--white-color);
    border-radius: 8px;
    font-size: 3rem;
    padding: 12px;

}

.content__form input:focus,
.content-second__form input:focus  {
    outline: none;
    box-shadow: 0 0 10px var(--black-color);

}

.content__form-email__heading,
.content__form-name__heading,
.content__form-password__heading {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 12px;
    position: relative;

}

.content__form-name__heading,
.content__form-password__heading {
    margin-top: 36px;

}

.content__form-password i {
    position: absolute;
    font-size: 3rem;
    color: var(--white-color);
    margin-top: 30px;
    margin-left: -52px;

}

.btn-sign-up {
    margin-top: 80px;
    background-color: var(--black-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;

}

.content__form-mores {
    margin-top: 72px;
    display: flex;

}

.content__form-more {
    font-size: 2.4rem;
    color: var(--white-color);

}

.btn-sign-up__option-1,
.btn-sign-up__option-2 {
    color: var(--black-color);
    background-color: #E6E6E6;
    
}

.btn-sign-up__option-1 {
    margin-top: -48px;

}

.btn-sign-up__option-2 {
    margin-top: 28px;

}

.btn-sign-up__option-1 img,
.btn-sign-up__option-2 img  {
    margin-right: 24px;

}

.content__form-has-acc {
    font-size: 2.4rem;
    margin-top: -16px;

}

.content__form-has-acc-heading {
    color: var(--text-color);
}

.content__form-has-acc-link {
    color: var(--black-color);
}

@keyframes growth {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* CONTENT - FORM LOG IN */
#log-in-form {
    display: none; 
    /* display: flex;*/
    flex-direction: column;
    align-items: center;
}

.form__log-in.content__form-logo,
.form__reset-pass.content__form-logo,
.form__reset-confirm.content__form-logo { 
    margin-top: 144px;

}

.form__log-in.content__form-logo img,
.form__reset-pass.content__form-logo img,
.form__reset-confirm.content__form-logo img {
    width: 120px;
    height: 100px;
}

.form__log-in.content__form-title { 
    font-size: 2.8rem;
    color: var(--text-color);
    margin-top: 28px;

}

.form__log-in .btn-sign-up__option-1,
.form__log-in .btn-sign-up__option-2 {
    color: var(--black-color);
    background-color: #E6E6E6;

}

.form__log-in .btn-sign-up__option-1 {
    margin-top: 40px;

}

.form__log-in .btn-sign-up__option-2 {
    margin-top: 28px;

}

.form__log-in .btn-sign-up__option-1 img,
.form__log-in .btn-sign-up__option-2 img  {
    margin-right: 24px;

}

.content__form-email__heading,
.content__form-name__heading,
.content__form-password__heading {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 12px;
    position: relative;

}

.content__form-name__heading,
.content__form-password__heading {
    margin-top: 36px;

}

.content__form-password i {
    position: absolute;
    font-size: 3rem;
    color: var(--white-color);
    margin-top: 30px;
    margin-left: -52px;

}

.content__form-password-reset {
    font-size: 2.4rem;
    margin-top: 72px;

}

.content__form-no-acc {
    font-size: 2.4rem;
    margin-top: 80px;

}

.content__form-no-acc-heading {
    color: var(--text-color);
}

.content__form-no-acc-link {
    color: var(--black-color);
}

/* CONTENT-SECOND */

.content-second {
    background-color: #E7B559; 
    height: 1075px;
    display: none;

}

.content-second__form {
    width: 1088px;
    height: 820px;   
    background-color: var(--base-color);
    margin-top: 120px;
    border-radius: 42px;    

}

/* CONTENT-SECOND - FORM RESET PASSWORD */

.content-second__form-reset-pass {
    display: none;
    /* display: flex;*/
    flex-direction: column;
    align-items: center;

}

.form__reset-pass.content__form-title,
.form__reset-confirm.content__form-title { 
    font-size: 2rem;
    color: var(--text-color);
    margin-top: 12px;
    margin-left: -96px;

}

.content__form-description {
    font-size: 2.2rem;
    width: 540px;
    margin-left: -96px;
    margin-bottom: 40px;
    line-height: 28px;
    color: var(--text-color);
}

.btn-send-link,
.btn-back-home {
    background-color: var(--black-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;

}

.btn-send-link {
    margin-top: 44px;
}

/* CONTENT-SECOND - FORM RESET CONFIRM */

.content-second__form-reset-confirm {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;

}

.form__reset-confirm.content__form-title {
    margin-left: -12px;
}

.form__reset-confirm.content__form-description {
    width: 628px;
    margin-left: -12px;
}

.btn-back-home {
    margin-top: 32px;

}

.btn-justify {
    background-color: var(--base-color);
    color: var(--text-color);
    font-size: 3rem;
    border: 1px solid var(--text-color);
    margin-top: 24px;

}

.btn-justify i {
    margin-right: 12px;
    font-size: 4.4rem;

}

/* CONTENT-THIRD */

.content-third {
    background-color: #E7B559; 
    height: 820px;
    display: none;

}

.content-third .grid__full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-third__image {
    width: 100px;
    height: 100px;
    position: relative;
}

.content-third__image .elip {
    margin-top: 200px;

}

.content-third__image .substract {
    position: absolute;
    margin-top: -152px;

}

.content-third__image .tick {
    position: absolute;
    margin-top: -150px;

}

.content-third__heading {
    font-size: 5rem;
    font-weight: 500;
    margin-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 920px;
    line-height: 6.5rem;

}

.content-third .btn-back-home {
    margin-top: 56px;

}

/* CONTENT-FOUR */

.content-four {
    background-color: #E7B559; 
    display: none;

}

.content-four .grid__full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 150px 0;

}

.content-four.content__form-logo {
    margin-top: 0;

}

.content-four__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 32px;
    text-align: center;
    /* width: 380px; */
    line-height: 4rem;

}

.content-four__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 112px;
    
}

.content-four__sub-heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 40px;
    line-height: 3rem;

}

.content-four__user-select {
    display: flex;
    align-items: center;
    background-color: #F9D083;
    width: calc(100% - 112px);
    height: 80px;
    font-size: 2.4rem;
    border: 1px solid var(--black-color);
    border-radius: 12px;
    margin: 36px 0 46px 0;
    position: relative;
    cursor: pointer;
}

.info-select-default-tag {
    color: var(--base-color);
    font-weight: 600;
    margin: auto 20px auto 12px;
    padding: 18px 18px;
    border: 3px solid var(--base-color);
    border-radius: 12px;
    
}

.info-select-default-name,
.info-select-name {
    font-weight: 600;
    padding: 6px 18px 6px 0;
    border-right: 1px solid var(--black-color);

}

.info-select-default-phone,
.info-select-phone {
    padding: 6px 18px 6px 18px;
    border-right: 1px solid var(--black-color);
}

.info-select-default-address,
.info-select-address {
    padding: 6px 18px 6px 18px;
}

.info-select-drop-btn {
    font-size: 2.4rem;
    margin-left: 400px;

}

.user-select-address {
    position: absolute;
    margin-top: 212px;
    display: none;

}

.user-select-address-item-1,
.user-select-address-item-2,
.user-select-address-item-3 {
    display: flex;
    align-items: center;
    background-color: #F9D083;
    width: calc(1440px - 112px);
    height: 80px;
    font-size: 2.4rem;
    border: 1px solid var(--black-color);
    margin: 132px 0 0 -42px;
    padding-left: 175px;
    cursor: pointer;
}

.user-select-address-item-2,
.user-select-address-item-3 {
    margin-top: 0;
}

.user-select-address-item-1 {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.user-select-address-item-3 {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.content-four__product-info {
    width: calc(100% - 112px);
    background-color: #BC433B;
    padding: 50px 48px 50px 72px;
    margin-top: 44px;
    border-radius: 16px;
    border: 1px solid var(--black-color);

}

.content-four__product-info-table {
    color: var(--text-color);
    
}

.content-four__product-info-table__heading {
    font-size: 2.2rem;
    height: 50px;
    text-align: center;
}

.content-four__product-info-table .product {
    width: 750px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.content-four__product-info-table .price,
.content-four__product-info-table .total {
    width: 200px;
    text-align: center;

}

.content-four__product-info-table .quantity {
    width: 120px;

}

.content-four__product-info-table .content-four__product-info-table__item .item-name,
.content-four__product-info-table .content-four__product-info-table__item .item-price,
.content-four__product-info-table .content-four__product-info-table__item .item-quantity,
.content-four__product-info-table .content-four__product-info-table__item .item-total {
    font-size: 2rem;

}

.content-four__product-info-table .content-four__product-info-table__item .item-price,
.content-four__product-info-table .content-four__product-info-table__item .item-quantity,
.content-four__product-info-table .content-four__product-info-table__item .item-total {
    text-align: center;
}

.content-four__product-info-table .content-four__product-info-table__item {
    height: 100px;
    
}

.content-four__product-info-table .content-four__product-info-table__item .item-name {
    display: flex;
    align-items: center;
    height: 100px;

}

.content-four__product-info-table .content-four__product-info-table__item .item-name img {
    width: 70px;
    height: 70px;
    margin-right: 24px;

}

.content-four svg {
    opacity: 0.6;
    margin-top: 36px;
    height: 50px;

}

.content-four__user-info-table .content-four__user-info-table__heading {
    height: 50px;
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 100;

}

.content-four__user-info-table .content-four__user-info-table__item {
    height: 50px;
    font-size: 2rem;
    color: var(--text-color);

}

.content-four__user-info-table .content-four__user-info-table__heading .address {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;


}

.content-four__user-info-table .content-four__user-info-table__heading .fee {
    width: 200px;
}

.content-four__user-info-table .content-four__user-info-table__item .fee-info {
    text-align: center;
}

.content-four__product-sale-off {
    margin-top: 36px;

}

.content-four__product-sale-off .content-four__product-sale-off__heading {
    margin-bottom: 24px;
    font-size: 2.6rem;
    color: var(--text-color);

}

.content-four__product-sale-off__input {
    display: flex;
}

.content-four__product-sale-off__input .sale-off__input {
    background-color: #BC433B;
    width: 1000px;
    border-color: var(--text-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.content-four__product-sale-off__input .sale-off__btn {
    height: 87px;
    width: 180px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 3rem;
    font-weight: 600;
}

.content-four__sub-heading.pay-method {
    margin-top: 80px;
    margin-bottom: 12px;
}

.btn-cod-pay,
.btn-qr-pay {
    background-color: #E7B559;
    color: var(--black-color);
    font-weight: 600;
    font-size: 3rem;
    border: 1px solid var(--black-color);
    width: 1320px;

}

.btn-cod-pay,
.btn-qr-pay {
    margin-top: 28px;
}

.content-four__sub-heading.pay-total {
    margin-top: 72px;
    margin-bottom: 24px;

}

.btn-order{
    background-color: var(--base-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 3rem;
    width: 1320px;
    margin-top: 36px;
    margin-bottom: 24px;
    
}

/* CONTENT-FIFTH */

.content-fifth {
    background-color: #E7B559; 

}

.content-fifth .grid__full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 150px 0;

}

.content-fifth.content__form-logo {
    margin-top: 0;

}

.content-fifth__heading {
    font-size: 3.6rem;
    font-weight: 600;
    margin-top: 32px;
    text-align: center;
    /* width: 380px; */
    line-height: 4rem;

}

.content-fifth__form {
    width: calc(100% - 144px);
    padding: 40px 0;
    background-color: #F9D083;
    margin-top: 32px;
    display: block;
    border-radius: 32px;

}

.content-fifth__form-heading {
    font-size: 2.8rem;
    margin-left: 40px;
    font-weight: 600;

}

.content-fifth__form .heading-mark {
    margin: 0 20px;

}

.content-fifth__form .heading-tag {
    color: var(--base-color);

}

.content-fifth__form-state {
    margin: 32px 120px 0 120px;
    display: flex;
    justify-content: center;
}

.ordered-state,
.waiting-state,
.deliver-state,
.deliver-success-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.waiting-state {
    margin: 0 80px;

}

.deliver-state {
    margin: 0 80px 0 0;

}

.sub {
    font-size: 2rem;
    margin: 20px 0 12px 0;
}

.time {
    font-size: 1.4rem;

}

.ordered-state__icon,
.waiting-state__icon,
.deliver-state__icon,
.deliver-success-state__icon {
    font-size: 3.4rem;
    padding: 12px 12px;
    border-radius: 30px;

}

.ordered-state__sub-icon,
.deliver-success-state__sub-icon {
    font-size: 2rem;
    position: absolute;
    margin-top: 24px;
}

.deliver-success-state__sub-icon {
    font-size: 1.6rem;
    margin-top: 26px;
}

.state-unchecked {
    color: #13141C;
    border: 1px solid #13141C;
    opacity: 0.8;
}

.state-unchecked__sub-icon {
    color: #13141C;
    opacity: 0.4;
}

.state-unchecked__time {
    opacity: 0;

}

.state-checked {
    color: var(--base-color);
    border: 1px solid var(--base-color);
}

.state-checked__sub-icon {
    color: var(--base-color);
}

.state-checked__time {
    opacity: 1;
    
}

.content-fifth__info {
    display: flex;

}

.content-fifth__info-user {
    margin: 36px 12px 12px 24px;
    border: 1px solid var(--black-color);
    border-radius: 12px;
    width: 750px;
    height: 200px;
    font-size: 2.2rem;
    padding: 20px 16px 16px 16px;


}

.content-fifth__info-user .info-user__heading {
    margin-bottom: 24px;
    font-weight: 600;

}

.content-fifth__info-user .info-user__name,
.content-fifth__info-user .info-user__address {
    margin-bottom: 24px;
    display: flex;
}

.content-fifth__info-user .info-user__name .name-title,
.content-fifth__info-user .info-user__address .address-title {
    width: 130px;
    line-height: 2.2rem;

}

.content-fifth__info-user .info-user__name .name-content,
.content-fifth__info-user .info-user__address .address-content {
    width: 582px;
    line-height: 2.2rem;
    margin: auto 0 auto 48px;

}

.content-fifth__info-payment {
    margin: 36px 12px 12px 12px;
    border: 1px solid var(--black-color);
    border-radius: 12px;
    width: 475px;
    height: 200px;
    font-size: 2.2rem;
    padding: 20px 16px 16px 16px;


}

.content-fifth__info-payment .info-payment__heading {
    margin-bottom: 24px;
    font-weight: 600;

}

.content-fifth__info-payment .info-payment__content {
    width: 440px;
    line-height: 2.2rem;
}

.content-fifth__bill {
    margin: 12px 12px 24px 24px;
    border: 1px solid var(--black-color);
    border-radius: 12px;
    width: 1248px;
    height: 270px;
    font-size: 2.2rem;
    padding: 20px 16px 16px 16px;

}

.bill__heading {
    margin-bottom: 24px;
    font-weight: 600;
}

.bill__product {
    display: flex;
    align-items: center;
    
}

.bill__product-info {
    margin: 0 610px 0 20px;
    
}

.bill__product-info .product-info__name {
    font-weight: 600;
    margin-bottom: 16px;

}

.bill__product-info .product-info__quantity-per-one {
    font-size: 2rem;
    margin-bottom: 16px;

}

.bill__product-info .product-info__quantity {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 16px;
    background-color: #C7635C;
    width: 48px;
    padding: 10px 0 10px 12px;
    border-radius: 12px;

}

.bill__product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

} 

.bill__product-price .product-info__price {
    font-weight: 600;
    margin-bottom: 30px;

}

.bill__product-price .product-info__total {
    display: flex;
    font-weight: 600;

}

.bill__product-price .product-info__total.number {
    margin-left: 6px;
    color: var(--base-color);
}

.content-fifth__btn {
    width: 600px;
    height: 50px;
    background-color: var(--base-color);
    font-size: 2.4rem;
    font-weight: 600;
    color: #E7E8E8;
    border-radius: 12px;
    margin-left: 345px;

}

.ordered-page {
    display: none;

}

.waiting-page {
    display: none;

}

.delivery-page {
    display: none;

}

.delivery-success-page {
    /* display: none; */

}

/* FOOTER */
.footer {
    height: 400px;
    background-color: var(--black-color);
    color: #E7B559;
    
}

.footer .grid__full-width {
    display: flex;
}

.footer__access {
    width: 200px;
    display: flex;
    flex-direction: column; 
    margin-left: 106px;
    padding-top: 118px;
    
}

.footer__access-heading,
.footer__address-heading {  
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 24px;

}

.footer__access input {
    background-color: #E7B559;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;

}

.footer__access-small-input {
    width: 160px;
    height: 30px;
    margin-bottom: 8px;

}

.footer__access-big-input {
    height: 76px;
    display: flex;
    justify-content: start;
    margin-bottom: 16px;

}

.footer__access-send-btn {
    background-color: #E7B559;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 2rem;
    width: 160px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__address {
    padding-top: 118px;
    margin-left: 264px;
    width: 220px;

}

.footer__address-sub-heading {
    font-size: 1.4rem;

}

.footer__address-list {
    list-style: none;
    margin-left: -40px;
    font-size: 1.2rem;

}

.footer__addredd-list-item {
    margin-bottom: 6px;

}

.footer__policy {
    padding-top: 118px;
    margin-left: 256px;
    width: 220px;

}

.footer__social {
    margin-top: 352px;
    margin-right: 12px;

}

.footer__social .FB {
    width: 30px;
    height: 30px;

}

.footer__social img {
    border-radius: 20px;
    margin-right: 8px;

}
